html, body, #root, .App{
  height: 100%;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 50px auto;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  grid-row: 2;
  height: auto;
  width: 100%;
  background-color: #7186b8;

}


.ReactFlowWrapper {
  height: auto;
  width: 100%;
  background-color: #7186b8;

}

/* .MuiPopover-root{

  border: 4px solid black;
}

.MuiPopover-paper{
  margin-top: 10px;
  border: 4px solid black;
} */